.container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.cartBtn {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: #0a2463;
  color: #fff;
  border: none;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
